<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Session Report</title>
</head>
<body>
  <%- include('header')%>
  <h1>Session Report</h1>
  <h2>Number of Sessions Played</h2>
  <p>Total sessions played in the configurable time period: <%= sessionsPlayed %></p>
  
  <h2>Relative Popularity of Sports</h2>
  <ul>
    <% sportsPopularity.forEach(function(sport) { %>
      <li><%= sport.name %>: <%= sport.popularity %></li>
    <% }); %>
  </ul>
</body>
</html>
