<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <title>Sports Scheduler</title>
</head>

<script>
    function deleteSport(id){
    fetch(`/sportsession/${id}`,{
      method : 'DELETE',
      headers : {"content-type" : 'application/json'},
    })
    .then((res) =>{
      if(res.ok){
        window.location.assign('/admin');
      }
       
    })
    .catch((error)=> console.log(error)); 
}
</script>

<body>
    <%- include('header', { page: "name" })%>
    <div class="container mx-auto mt-10 p-auto">
        <div>
            <p class="text-4xl font-bold mb-5"><%= name %></p>
            <% if(user === 'admin') { %>
                <a href="#" class="text-right my-10 text-teal-500">Edit</a>    
                <a href="#" onclick="deleteSport(<%= sportID %>)" class="text-right mx-10 text-teal-500">Delete</a>    
            <% } %>
        </div>
        
        <br>
        <p class="text-xl">Sessions</p>
        <div class="w-56 mt-10 rounded-lg text-white bg-teal-500 h-16 cursor-pointer hover:bg-white hover:text-teal-500 border-2 border-teal-500 flex items-center justify-center">
           <a href="#"> Jan 1, 2023 5:30 PM </a>
        </div>
    </div>
    <div class="container mx-auto mt-10 p-auto text-lg gap-10">
        <a href="/createsession" class="text-teal-500">Create a new session</a>
        <a href="#" class="px-10">View previous sessions</a>
    </div>
</body>
</html>